.main-gallery h1{
    display: flex;
    justify-content: center;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.photo{
    width: 30%;
}
.loader{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}